textarea { 
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;        
  }
  textarea:focus {
    outline: none;
    box-shadow: none;
}
.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns children to the end of the container */
}
.center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Adjust based on your needs */
    width: 100%; /* Adjust based on your needs */
}
